@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

*{
    background-color: rgb(219, 237, 238);
    font-family: 'Merriweather', serif;
}
p{
    padding: 10px;
    font-size: 16px;
    min-width: 100px;
    width: 300px;
    box-shadow: rgb(25, 71, 24)0px 7px 29px 0px;
    background-color: rgb(194, 243, 195);
}
h2{
    padding: 10px;
    min-width: 100px;
    width: 300px;
}
img{
    height: 30px;
    width: 50px;
}